/* @media all and (max-width){

} */

@media all and (max-width: 1200px) {
    #footer-navigation{
        justify-content: space-evenly;
    }
}

@media all and (max-height: 500px){
    footer{
        margin-top: 20px;
        position: relative;
    }
}
