@import url(reset.css);

*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix{
    clear: both;
}

.clearfix::after{
    display: block;
    content: "";
    clear: both;
}

header{
    display: flex;
    flex-direction: row-reverse;
    padding: 6px;
    height: 60px;
}

header a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
    font-size: 13px;
    line-height: 24px;
}

header a:hover{
    text-decoration: underline;
}

#header a{
    display: block;
}

#apps{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    /* background-color: lightblue; */
}

#apps:hover{
    background-color: rgba(60, 64, 67, 0.2);
}

#apps>svg{
    width: 24px;
    height: 24px;
    fill: #5f6368;
}

#images{
    padding: 0 15px;
}

#header-navigation{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 282px;
    padding-left: 32px;
    padding-right: 4px;
}

#sign-in{
    background-color: rgb(26, 115, 232);
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 9px 23px;
    margin-left: 8px;
    /* margin-right: 8px; */
    font-size: 14px;
    line-height: 16px;
    color: white;
    font-weight: 500px;
    cursor: pointer;
}

#sign-in:hover{
    background-color: #1b66c9;
    box-shadow: 0 1px 3px 1px rgba(66,64,67,.15),0 1px 2px 0 rgba(60,64,67,.3);
}

#sign-in:focus{
    background-color: #1c5fba;
    box-shadow: 0 1px 3px 1px rgb(66 64 67 / 15%), 0 1px 2px 0 rgb(60 64 67 / 30%);
}

#sign-in:active{
    background-color: #1b63c1;
    box-shadow: 0 1px 3px 1px rgb(66 64 67 / 15%), 0 1px 2px 0 rgb(60 64 67 / 30%);
}